@model Mvc_Mugdha_Maam.Models.Emp
<h3>Create New Emplyee</h3>
<form action="/Home/Create" method="post">
    <input type="hidden" name="no"/>
    <input type="Text" name="name"/>
    <input type="Text" name="address"/>
    <br /> <br />
    <input type="submit" value="Add New Row"/>



</form>